<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CSC584GroupProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>car.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>customer.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>customer.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentApproval</display-name>
    <servlet-name>AppointmentApproval</servlet-name>
    <servlet-class>appointment.AppointmentApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentApproval</servlet-name>
    <url-pattern>/AppointmentApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentAdd</display-name>
    <servlet-name>AppointmentAdd</servlet-name>
    <servlet-class>appointment.AppointmentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentAdd</servlet-name>
    <url-pattern>/AppointmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentCancel</display-name>
    <servlet-name>AppointmentCancel</servlet-name>
    <servlet-class>appointment.AppointmentCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentCancel</servlet-name>
    <url-pattern>/AppointmentCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>customer.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomerServlet</display-name>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>customer.RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/customer/RegisterCustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>